// Colors
$color-primary: #e3ab2e;
$color-primary-light: #ffffc7;
$color-primary-dark: #ebc36a;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//font 
$default-font-size: 16px;

//grid
$grid-width: 1140px;
$gutter-vertical: 80px;
$gutter-horizontal: 60px;
