// Colors
$color-primary: #F9CA06;
$color-primary-light: #ffffc7;
$color-primary-dark: #ebc36a;

$color-primary-darker: #F18701;
$color-primary-dark-gold: #B8860B;

$color-secondary-light:#7ed56f;
$color-secondary-dark: #28b485;

$color-tertiary-light:#2998ff;
$color-tertiary-dark: #5643fa;

$color-danger: #EF3E36;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-Cgreen: #2E282A;

//font 
$default-font-size: 16px;

//grid
$grid-width: 1140px;
$gutter-vertical: 80px;
$gutter-horizontal: 60px;

//Box shadow
$shadow: $color-black;

//Border radius
$default-border-radius: 3px;