// Colors
$color-primary: #F9CA06;
$color-primary-light: #ffffc7;
$color-primary-dark: #ebc36a;

$color-primary-darker: #F18701;
$color-primary-dark-gold: #B8860B;

$color-secondary-light:#7ed56f;
$color-secondary-dark: #28b485;

$color-tertiary-light:#2998ff;
$color-tertiary-dark: #5643fa;

$color-danger: #EF3E36;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-Cgreen: #2E282A;

//Border-radius
$default-border-radius: 3px;


html, body {
	margin: 0;
	padding: 0;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 62.5%;
}

body {
	width: 100%;
	height: 100vh;
    background-image: linear-gradient(
        to right bottom,
         rgba($color-primary, 0.8),
         rgba($color-primary-light, 0.8)),
        url(../img/banner2.jpg);
	background-repeat: no-repeat;
	background-position: top;
    background-size: cover;
    display: table;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;

    @media (max-width: 900px) {
        width: 80%;
    }

    @media (max-width: 600px) {
        width: 80%;
    }
}


//Navigation
.navigation {
    
    &__checkbox {
        display: none;
    }

    &__button{
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;

       @media (max-width: 900px) {
            top: 4rem;
            right: 4rem;
        }

        @media (max-width: 600px) {
            top: 3rem;
            right: 3rem;
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary, $color-primary-darker);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

        @media (max-width: 900px) {
            top: 4.5rem;
            right: 4.5rem;
        }

        @media (max-width: 600px) {
            top: 3.5rem;
            right: 3.5rem;
        }

        //transform: scale(80);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(1,.15,0,.81);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 10px;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 30px;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(10px);
        }
    }

    //FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    //ICONS
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 30px;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -8px;}
        &::after { top: 8px;}
    }

    &__button:hover &__icon::before {
        top: -10px;
    }

    &__button:hover &__icon::after {
        top: 10px;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}

//Header

.header__logo-box {
    position: fixed;
    top: 30px;
    left: 30px;
}

.header__logo {
    height: 35px;
}

.wrapper {
	width: 90%;
    margin: 0 auto;
    width: 500px;
    margin-top: 50px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @media (max-width: 900px) {
        width: 100%;
        margin-top: 80px;
    }

    @media (max-width: 600px) {
        width: 100%;
        margin-top: 80px;
    }
}

// Heading
.heading {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading h1 {
    color: #fff;
    font-size: 46px;
}

// Form
.form {
    position: relative;
    margin: 0;
    top: 40%;
}

input {
    width: 100%;
    font-family: inherit;
    margin: 0;
    background-color: rgba($color-white, .5);
    color: $color-grey-dark-2;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 7px;
    border: none;
    padding: 15px 20px;
    display: block;
    border-radius: 80px;
    border-bottom: 3px solid transparent;
    transition: all .3s;

    @media (max-width: 900px) {
        width: 80%;
    }

    @media (max-width: 600px) {
        width: 100%;
        margin: 0;
    }
}

#fileupload {
    position: relative;
    width: 40%;
    border-radius: 80px;
    color: $color-black
}

#tel {
    width: 50%;
}

input::-webkit-input-placeholder {
    color: $color-grey-dark-2;
    font-size: 12px;
    letter-spacing: 2px;
}

//Button
button {
    top: 50%;
    left: 60%;
    text-decoration: none;
    padding: 20px 32px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    border: none;
    display: inline-block;
    border-radius: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: $color-primary;
    color: $color-white;
    transition: all .2s;
    cursor: pointer;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.4);

            &::after {
                transform: scaleX(1.2) scaleY(1.4);
                opacity: 0;
            }
    }
}

//Footer
.footer p {
	text-align: center;
	color: grey;
    margin: auto;
}

// Media queries
@media only screen and (max-width: 900px) {
    .heading {
		text-align: left;
	}

	.heading h1 {
		font-size: 36px;
	}

	.heading p {
		font-size: 12px;
        width: 90%;
    }
}